[collect_rate]
#second_level_data rate (second)
second_rate=1
[real_time]
#use real_time or not
#0:don't use
#1:use
real_time_data=0
[collect_area]
#0x01 means DB area
#0x02 means M  area
#0x03 means I  area
#ox04 means Q  area
org_id=02
[number_area]
#the number of collection area in PLC'DB area
#the default number is two
number=1
[1]
#according to above number 
#list these area
#area	 between 1-255
#start_adddress	 between 0-2048
#len	 between 1-2048
area=00
start_address_h=00
start_address_l=00
len_h=00
len_l=1e
[2]
#the same
area=02
start_address_h=00
start_address_l=00
len_h=04
len_l=00

[PLC_INFO]
address=192.168.1.134
